.button {
  padding: 14px 36px;
  height: 60px;
  color: #ffffff;
  background-color: #1c9bef;
  border-radius: 45px;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: #188cd8;
    transition: 0.3s;
  }
}
